.is-hidden {
  display: none;
}

.banner {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  height: 43rem;

  background-image: url(../images/banner.jpg);
  background-position: center;
  background-size: cover;
}

.banner .banner-title {
  color: rgba(255, 255, 255, 0.85);
  font-weight: bold;
  font-size: 4rem;
  margin-top: 90px;
}

.col-lg-6 .image-content {
  height: 40rem;
  border-radius: 5px;

  background-image: url(../images/router.jpg);
  background-position: center;
  background-size: cover;
}

.col-lg-6 .router-content {
  line-height: 1.8;
}

.col-lg-4 .images .image-show {
  height: 20rem;
  width: 40rem;
  border-radius: 5px;

  background-position: center;
  background-size: cover;
}

.pricing-table {
  background-color: #dddee0 !important;
}

.panel .nav .active-card {
  padding: 5px;
  display: flex;
  justify-content: center;
}

.mb-7 {
  margin-bottom: 70px;
}